@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
body{
    background: #060c21;
}
.container{
    position:relative;
    width: 90%;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-template-rows: auto;
    grid-gap: 0 40px;
}
.container .box{
    position: relative;
    height: auto;
    background: #1e3175;
    justify-content:center;
    align-items: center;
    border: 1px solid #000; 
    margin-top: 20px;
    margin-left: -30px;
    
}
.container .box::before{
    content: '';
    position: absolute;
    top:-2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    transform: skew(2deg, 2deg);
    z-index: -1;
    
}

.content{
    position: relative;
    padding: 20px;
    transform: translateY(40px);
}

.box .content a{
    position: relative;
    margin: 20px 0 0;
    padding:10px 20px;
    text-decoration: none;
    border: 1px solid white;
    display: inline-block;
    color: white;
    transition: 0.5s;
    transform: rotateY(-40px);
    opacity:0;
    visibility: hidden;
 
}
.box:hover .content a{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}
.box .content a:hover{
    
    color: rgb(12, 11, 10);
    background: lightgreen;
}



#image{
    text-align: center;

}
#titulo{
    color: rgb(119, 169, 216);
    text-align: center;
    margin-top: 20px;
    
}

#nav{
    background: #1a9696;
    color: #060c21;
}

#indice{
    margin-top: 25px;
    color: lightgreen;
}
#roow{
    background:#060c21;
    border: redonded;
    margin-top: 20px;
    border: rounded;
}
#roowTeoria{
    background : white;
    border: redonded;
    margin-top: 20px;
    border: rounded;
}
#cont{
    color: honeydew;
}
#teoria{ 
    color: rgb(199, 218, 199);
}
#temas{
    color: lightblue;
}
#tema1{
    color: rgb(11, 107, 139);
}
.modal-backdrop{
    position: relative; 
}
#exampleModalLabel, #contenidoModal{
    color: black;
}
#cajaContenido{
    background: white;
}
#imageCont{
    height: 300px;
    width: 100px;
}
#cardCont{
    width: 100%;
}
#alert2{
    background: #d8f6ff;
}
#letraC{
    margin-left: -40px;
    margin-top: -230px;
}

#letrac{
    margin-left: -60px;
    margin-top: -20px;
}

#alertTema3{
    margin-left: 370px;
    margin-top: 10px;
}
#alertProcedimiento{
    border: purple;
    margin-left: 25px;
    border-style: solid;
    color:  black;
}
#imgStema3{
    margin-left: -50px;
    margin-top: -50px;
}
#formulaTema3{
    margin-left: 125px;
}
#imgFormulaTema3{
    margin-left: 250px;
    margin-top: -50px;
    width: 150px;
}
#formula2Tema3{
    margin-left: 120px;
}
#subtema3{
    color: black;
    font-size: 16px;
}
#subtema2{
    color: black;
}
#letraPTema2{
    width: 80PX;
}
#contTema2{
    color: black;
    margin-left: 90px;
    margin-top: -70px;
}
#btnTema1{
    margin-left: 350px;
    margin-bottom: 30px;
    margin-top: 10px;
}
#btnTema2{
    margin-left: 350px;
    margin-bottom: 30px;
    margin-top: 10px;
}
#btnTema3{
    margin-left: 350px;
    margin-bottom: 30px;
    margin-top: 10px;
}