@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
body{
    background:#474b4e;
}

#image{
    text-align: center;

}
#titulo{
    color: rgb(119, 169, 216);
    text-align: center;
    margin-top: 20px;
    
}

#nav{
    background: #1a9696;
    color: #060c21;
}

#indice{
    margin-top: 25px;
    color: lightgreen;
}
#roow{
    background:#060c21;
    border: redonded;
    margin-top: 20px;
    border: rounded;
}

